.board {
    line-height: 0;
    user-select: none;
    z-index: 0;
}

.square {
    width: var(--piece-size);
    height: var(--piece-size);
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    text-align: center;
}

.square-black {
    background-color: #334455;
}

.square-white {
    background-color: #CCCCCC;
}

.premove-from {
    background-color: #252525;
}

.premove-to {
    background-color: #923923;
}
